{% extends 'tables/table_kcidb_test_general.html' %}
{% load styles %}
{% load getattribute %}
{% block header %}
<th class="col-1">Result</th>
<th class="col-2">ID</th>
<th class="col-6">Test</th>
<th class="col-2">Beaker Task</th>
<th class="col-1"></th>
{% endblock %}

{% block row %}
<tr class="d-flex">
  <td align="center" class="{{ testrun.status|get_style|getattribute:'cell' }}" title="{{testrun.get_result_display}}">
    {{ testrun.status|get_style|getattribute:'icon'|safe }}
    <i title="Waived test (this result does not affect overall test result)"  class="fas {% include 'waived_icon.html' with waived=testrun.waived %}"></i>
    {% with issues_count=testrun.issues.count %}
      {% if issues_count %}
      <i class="fas fa-bug text-danger" title="Has {{ issues_count }} issue(s) associated"></i>
      {% endif %}
    {% endwith %}
  </td>
  <td class="col-2">
    <a href="{% url 'views.kcidb.tests' testrun.iid %}"> {{ testrun.id }}</a>
  </td>
  <td class="col-6">{{ testrun.test.name }}</td>
  <td class="col-2">{% include "link_beaker_task.html" with task=testrun.beakertask_set.last %}</td>
  <td class="col-1" data-target="#collapse-logs-{{ testrun.recipe_id }}{{ testrun.test.id }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander"><div><i title="View log files for this test" class="fas fa-scroll"></i></div></td>
</tr>
<tr class="collapse" id="collapse-logs-{{ testrun.recipe_id }}{{testrun.test.id}}" aria-expanded="true">
  <td colspan="6">
    <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
      <tbody>
      {% for log in testrun.output_files.all %}
      <tr>
        <td>{{ log.name }}</td>
        <td><a href="{{ log.url }}">{{ log.url }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
{% endblock %}
