{% load cache %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm mb-0" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-8">ID</th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-2">Start Time</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_simple_row checkout.iid issue.id %}
        {% with url_name='views.kcidb.checkouts' id=checkout.iid position="issue-"|addstr:issue.id %}
          <tr class="d-flex">
            {% include 'tables/cell_clickable.html' with size='8' text=checkout.id title=checkout.id %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with size='2' text=checkout.start_time %}
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
  {% if checkouts.trimmed_elements %}
  <div>
    <small>+ {{ checkouts.trimmed_elements }} records</small>
  </div>
  {% endif %}
</div>
