{% load cache %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-2">ID</th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-2">Start Time</th>
        <th class="col-1">Valid</th>
        <th class="col-2">Builds</th>
        <th class="col-2">Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_checkouts_row checkout.iid %}
        {% with url_name='views.kcidb.checkouts' id=checkout.iid %}
          <tr class="d-flex">
            <!-- Pipeline link + Checkout ID. -->
            <td class="col-1">
              {% for gitlab_job in checkout.gitlabjob_set.all %}
                <a href="{{ gitlab_job.pipeline.web_url }}" class="gitlab_icon" title="Go to pipeline"></a>
              {% endfor %}
              {% if checkout.reports.exists %}
              <i class="fas fa-envelope-open-text text-primary" title="Has reports"></i>
              {% endif %}
              {% if checkout.has_objects_with_issues %}
              <i class="fas fa-bug text-danger" title="Has issues associated"></i>
              {% endif %}
              {% if checkout.has_objects_missing_triage %}
              <i class="fas fa-fire-extinguisher text-danger" title="Has failures without issues associated"></i>
              {% endif %}
            </td>

            {% include 'tables/cell_clickable.html' with size='2' text=checkout.id|truncatechars:41 title=checkout.id %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with size='2' text=checkout.start_time %}

            <!-- Checkout Valid cell -->
            {% with emoji=checkout.valid|get_style|getattribute:'icon'|safe %}
              {% with class_attr=checkout.valid|get_style|getattribute:'cell_with_text_color' extra_attr='align="center" data-toggle="tooltip" data-placement="top"' %}
                {% with title=checkout.valid|yesno:"Checkout is Valid, Checkout is Not Valid" %}
                  {% include 'tables/cell_clickable.html' with size='1' %}
                {% endwith %}
              {% endwith %}
            {% endwith %}

            <!-- Builds cell -->
            <td align="center"
            {% if not checkout.stats_builds_run_count %}
                class="col-2"
            {% elif not checkout.stats_builds_passed %}
                class="col-2 table-danger"
            {% elif checkout.stats_builds_running_count %}
                class="col-2 table-info"
            {% else %}
                class="col-2 table-success"
            {% endif %}
                >
              <a href="{% url url_name id %}" class="clickable-cell">
              {% if checkout.stats_builds_running_count %}
              <span class="text-info">
                {{ checkout.stats_builds_running_count }}
                <i class="fas fa-sync" title="Running builds"></i>
              </span>
              {% endif %}

              {% if checkout.stats_builds_pass_count %}
              <span class="text-success">
                {{ checkout.stats_builds_pass_count }}
                <i class="fas fa-check" title="Successful builds"></i>
              </span>
              {% endif %}

              {% if checkout.stats_builds_fail_count %}
              <span class="text-danger">
                {{ checkout.stats_builds_fail_count }}
                <i class="fas fa-times" title="Failed builds"></i>
              </span>
              {% endif %}

              </a>
            </td>

            <!-- Tests cell -->
            <td align="center"
            {% if not checkout.stats_tests_run_count %}
                class="col-2"
            {% elif not checkout.stats_tests_passed %}
                class="col-2 table-danger"
            {% elif checkout.stats_tests_running_count %}
                class="col-2 table-info"
            {% else %}
                class="col-2 table-success"
            {% endif %}
                >
              <a href="{% url url_name id %}" class="clickable-cell">
                {% include 'icons_test_status.html' with object=checkout %}
              </a>
            </td>
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
</div>
