{% extends "base.html" %}
{% load strutils %}

{% block title %}
{{ group|title }} Confidence
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Confidence</li>
    <li class="breadcrumb-item active" aria-current="page">{{ group|capfirst }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-12 col-md-12 mb-4">
    {% include "search.html" with name="search" action="/confidence/"|addstr:group placeholder="Filter" clearhref="/confidence/"|addstr:group|addstr:"?days_ago="|addstr:since hidden_name="days_ago" hidden_value=since %}
    <i class="fas fa-history"></i>
      Since {{since}} days ago
      (
      {% with value="ever" name="Since ever" %}
      {% include 'confidence_time_filter.html' %}
      {% endwith %}

      {% with value="7" name="7 days" %}
      {% include 'confidence_time_filter.html' %}
      {% endwith %}

      {% with value="1" name="1 day" %}
      {% include 'confidence_time_filter.html' %}
      {% endwith %}
      )
  </div>
</div>

<div class="row">

{% for item in map %}
  <div class="col-md-4">
  {% include 'web/confidence_column.html' %}
  </div>
{% endfor %}

</div>
{% endblock %}
