{% extends "base.html" %}
{% load serialize %}

{% block title %}
Issues Regexes
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'issue_list' %}">Issues</a></li>
    <li class="breadcrumb-item active" aria-current="page">Issue Regexes</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% if perms.datawarehouse.add_issueregex %}
{% include 'modal_new_issue_regex.html' %}
{% endif %}

<div class="tab-content">
  <div class="tab-pane active">

    {% if perms.datawarehouse.add_issueregex %}
    <div class="col-xl-4 col-md-6 mb-2">
      <div class="row">
        <span class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" onclick="openIssueRegexModal('new', '')">New Issue Regex</a>
          </div>
        </span>
      </div>
    </div>
    {% endif %}

    <div class="card border-bottom-primary shadow h-100 mb-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="table-responsive">
              <table class="table table-hover table-sm mb-0" width="100%" cellspacing="0">
                <thead>
                  <tr class="d-flex">
                    <th class="col-3">Issue</th>
                    <th class="col-5">Text</th>
                    <th class="col-2">File Name</th>
                    <th class="col-2">Test Name</th>
                  </tr>
                </thead>
                <tbody>
                {% for issue_regex in issue_regexes %}
                  {% with url_name='views.issue_regex.get' id=issue_regex.id %}
                  <tr class="d-flex">
                    {% include 'tables/cell_clickable.html' with size='3' text=issue_regex.issue.description %}
                    {% include 'tables/cell_clickable.html' with size='5' wrapper='code' text=issue_regex.text_match %}
                    {% include 'tables/cell_clickable.html' with size='2' wrapper='code' text=issue_regex.file_name_match %}
                    {% include 'tables/cell_clickable.html' with size='2' wrapper='code' text=issue_regex.test_name_match %}
                  </tr>
                  {% endwith %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% with paginator=issue_regexes %}
{% include 'paginator.html' %}
{% endwith %}

{% endblock %}

{% block script %}
<script type="text/javascript">
  var url = window.location.href;
  if (url.indexOf('#issueregex') != -1) {
      $('#issueRegexModal').modal('show');
  }
</script>

<script>
   function openIssueRegexModal(action, regex) {
     var x = document.getElementById("delete_issue_regex");
     if (action === 'new') {
       x.style.display = "none";
     } else {
       document.getElementById("issue_regex_id").value = regex['id'];
       document.getElementById("issue_id_select").value = regex['issue']['id'];
       document.getElementById("issue_regex_text_match").value = regex['text_match'];
       document.getElementById("issue_regex_test_name_match").value = regex['test_name_match'];
       document.getElementById("issue_regex_file_name_match").value = regex['file_name_match'];
       document.getElementById("action").value = "edit";
       x.style.display = "block";
     }
     $('#issueRegexModal').modal('show');
   };
</script>
{% endblock %}
