{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="{% block card_one_size %}col-lg-6{% endblock %}">
      <div class="card o-hidden border-0 shadow-lg my-2">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                {% block card_one %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="{% block card_two_size %}col-lg-6{% endblock %}">
      <div class="card o-hidden border-0 shadow-lg my-2">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                {% block card_two %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

