<form id='search_form' class="d-none d-sm-inline-block form-inline" method="get" action="/confidence/{{group}}">
  <div class="input-group">
    <input type="hidden" name="days_ago" value="{{value}}">
    {% if search %}
    <input type="hidden" name="search" value="{{search}}">
    {% endif %}
    <button class="btn btn-sm btn-link" type="submit">
        {{name}}
    </button>
  </div>
</form>
