{% if object %}
  {% if object.stats_tests_running_count %}
    <span class="text-info">
      {{ object.stats_tests_running_count }}
      <i class="fas fa-sync {{ extra }}" title="Running"></i>
    </span>
  {% endif %}

  {% if object.stats_tests_pass_count %}
    <span class="text-success">
      {{ object.stats_tests_pass_count }}
      <i class="fas fa-check {{ extra }}" title="Passed"></i>
    </span>
  {% endif %}

  {% if object.stats_tests_fail_count %}
  <span class="text-danger">
    {{ object.stats_tests_fail_count }}
    <i class="fas fa-times {{ extra }}" title="Failed"></i>
  </span>
  {% endif %}

  {% if object.stats_tests_error_count %}
  <span class="text-danger">
    {{ object.stats_tests_error_count }}
    <i class="fas fa-fire-alt {{ extra }}" title="Error"></i>
  </span>
  {% endif %}

  {% if object.has_targeted_tests %}
    <i class="fas fa-bullseye text-success {{ extra }}" title="Has targeted tests"></i>
  {% endif %}
{% endif %}
