<form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100" method="GET" action="{{ action }}">
  <div class="input-group input-group-sm">
    <input type="text" name="{{ name }}" class="form-control border-0 small" placeholder="{{ placeholder }}" value="{{ search|default:'' }}">
    {% if hidden_name %}
      <input type="hidden" name="{{ hidden_name }}" value="{{ hidden_value }}">
    {% endif %}
    <div class="input-group-append">
      {% if search %}
        <a class="btn input-clear" href="{{ clearhref }}" aria-label="Clear">
          <i class="fas fa-sm fa-times-circle" aria-hidden="true"></i>
        </a>
      {% endif %}
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
