{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <img src="{% static 'favicon.ico' %}"/>

    </div>
    <div class="sidebar-brand-text mx-3">CKI <sub>data</sub></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseCheckouts" aria-expanded="true" aria-controls="collapseCheckouts">
      <i class="fas fa-database"></i>
      <span>Checkouts</span>
    </a>
    <div id="collapseCheckouts" class="collapse" aria-labelledby="headingCheckouts" data-parent="#accordionSidebar" style="">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Checkouts Menu:</h6>
        <a class="collapse-item" href="{% url 'views.kcidb.checkouts' %}">All</a>
        <a class="collapse-item" href="{% url 'views.kcidb.baselines' %}">Baselines</a>
        <a class="collapse-item" href="{% url 'views.kcidb.failures' 'all' %}">Failures</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'views.kcidb.builds' %}">
      <i class="fas fa-database"></i>
      <span>Builds</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseIssues" aria-expanded="true" aria-controls="collapseIssues">
      <i class="fas fa-fw fa-cloud-showers-heavy"></i>
      <span>Issues</span>
    </a>
    <div id="collapseIssues" class="collapse" aria-labelledby="headingIssues" data-parent="#accordionSidebar" style="">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Issues Menu:</h6>
        <a class="collapse-item" href="{% url 'issue_list' %}">Issues List</a>
        <a class="collapse-item" href="{% url 'issue_regex' %}">Issues Regexes</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
     Confidence
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'views.confidence' 'tests' %}">
      <i class="fas fa-fw fa-vial"></i>
      <span>Tests</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'views.confidence' 'hosts' %}">
      <i class="fas fa-fw fa-server"></i>
      <span>Hosts</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
<script>
function setActive() {
  liObj = document.getElementById('accordionSidebar').getElementsByTagName('li');
  for(i=0;i<liObj.length;i++) {
    aObj = liObj[i].getElementsByTagName('a');
    if( aObj[0].href.endsWith( document.location.pathname )){
      liObj[i].className='nav-item active';
      console.log(document.location.pathname);
      console.log(aObj[0].href);

    }
  }
}
window.onload = setActive;
</script>
