{% extends "base_single_card.html" %}

{% block title %}
Reset Password Complete
{% endblock %}

{% block card %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Password reset complete</h1>
  <p>Your new password has been set. You can <a href="{% url 'login' %}">log in now</a>.</p>
</div>
{% endblock %}
