{% extends "base_single_card.html" %}

{% block title %}
Account Creation Done
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Check your inbox.</h1>
  <p>We've emailed you instructions to confirm your new account. You should receive the email shortly!</p>
</div>
{% endblock %}
