table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
table.sortable th {
    cursor: pointer
}
[data-toggle="collapse"][aria-expanded="false"] .rotate-if-collapsed {
    transform: rotate(-90deg);
}
.gitlab_icon, .beaker_icon {
    white-space: nowrap;
}
.gitlab_icon::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f296  ";
}
.beaker_icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c3  ";
}
/* input clear buttons */
.input-clear {
    background-color: white;
}
/* font size 14px in tables similar to Gitlab */
.table {
    font-size: 0.875rem;
}
.table th, .table td {
    padding: 0.4rem;
}
/* accessibility: increase contrast */
.table, body, .form-control, .form-control:focus, .input-clear {
    color: #404040;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.clickable-cell {
    cursor: pointer;
}
a.clickable-cell {
    display: block;
    text-decoration: none;
    color: inherit;
}

#collapseUtilities{
    z-index: 2;
}

.col-1-big {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-0-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4.15555%;
  flex: 0 0 4.15555%;
  max-width: 4.15555%;
}

pre.wrapped {
    white-space: pre-wrap;
}

label {
  font-weight: bold;
}

label.optional:after {
  font-size: 80%;
  font-weight: normal;
  content: " (optional)";
}

.action-icons-right {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.action-icons-right button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

code {
    white-space: pre;
}
