{% extends "base.html" %}

{% block title %}
Baselines
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' %}">Checkouts</a></li>
    <li class="breadcrumb-item active">Baselines</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Baselines</h6>
  </div>
  <div class="card-body">
    {% include 'tables/table_kcidb_checkouts_by_architecture.html' %}
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
