{% extends "base.html" %}
{% load artifacts %}
{% load getattribute %}
{% load styles %}
{% load timetag %}

{% block title %}
Test
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' %}">Checkouts</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' test.build.checkout.iid %}">Checkout</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.builds' test.build.iid %}">Build</a></li>
    <li class="breadcrumb-item active" aria-current="page">Test</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% with kind='test' item=test %}
{% include 'modal_new_issue_occurrence.html' %}
{% endwith %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.tests.get' test.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card border-left-{{ test.status|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ test.status|get_style|getattribute:'color' }}">{{ test.get_status_display|default:'Running' }}</div>
          </div>
          <div class="col-auto">
            {{ test.status|get_style|getattribute:'icon_big'|safe }}
            {% if test.targeted %}
              <i class="fas fa-2x fa-bullseye text-success" title='Is targeted'></i>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header border-left-{{ test.status|get_style|getattribute:'color' }}">
        <div class="row">
          <div class="col">
            <label>Test ID: </label>
            {{ test.id }}
          </div>
          <div class="col" align="right">
            {% for gitlab_job in test.gitlabjob_set.all %}
              {% with pipeline=gitlab_job.pipeline %}
                {% include 'link_gitlab_pipeline.html' %}
                {% include 'link_gitlab_job.html' %}
              {% endwith %}
            {% endfor %}
            {% for task in test.beakertask_set.all %}
              {% include 'link_beaker_recipe.html' %}
              {% include 'link_beaker_task.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body mt-0">
        <div class="row">
          <div class="col-12">
            <label>Origin:</label> {{ test.origin|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Description:</label> {{ test.test.name |default:'' }}
          </div>

          <div class="col-6">
            <label>Path:</label> {{ test.test.universal_id|default:'' }}
            <br/>
          </div>

          {% if test.test.fetch_url %}
          <div class="col-12">
            <label>Fetch URL:</label>
            <a href="{{ test.test.fetch_url }}">{{ test.test.fetch_url }}</a>
          </div>
          {% endif %}

          {% with maintainers=test.test.maintainers.all %}
            {% if maintainers %}
              <div class="col-12">
                <label>Maintainers:</label>
                {% for maintainer in maintainers %}
                  <a href="#" data-container="body" data-toggle="popover" data-placement="top"
                     data-content="
                     {% if maintainer.email %}
                       Email: &lt;<a href='mailto:{{ maintainer.email }}'>{{ maintainer.email }}</a>&gt;
                       <br/>
                     {% endif %}
                     {% if maintainer.gitlab_username %}
                     Gitlab Profile:
                       {% if maintainer.gitlab_profile_url %}
                         <a href='{{ maintainer.gitlab_profile_url }}'>
                           @{{ maintainer.gitlab_username }}
                         </a>
                       {% else %}
                         @{{ maintainer.gitlab_username }}
                       {% endif %}
                     {% endif %}
                     ">
                      {{ maintainer.name }}
                  </a>
                  {% if not forloop.last %}-{% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

          <div class="col-6">
            <label>Environment:</label> {{ test.environment.fqdn |default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Waived:</label>
            {{ test.waived|default:''|yesno|capfirst }}
            <br/>
          </div>

          <div class="col-6">
            <label>Start Time:</label> {{ test.start_time|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Duration:</label> {{ test.duration|default:''|timetag }}
            <br/>
          </div>

          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ test.log.url|default:'' }}">{{ test.log.url|default:'' }}</a>
            <br/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Display all test issues. -->
{% for grouped_issue in grouped_issues %}
  {% include 'card_issue_occurrence.html' %}
{% endfor %}

{% if test.output_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Output Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for file in test.output_files.all %}
                <tr class="d-flex">
                  {% include 'tables/cell_clickable.html' with size='12' text=file.url url=file.url %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  {% if test.start_time|older_than_artifacts_default_expiry %}
    <div class="alert alert-warning" role="alert">
      <i class="fas fa-snowplow"></i>
      <strong>Heads up!</strong> This test is pretty old, artifacts may be deleted already.
    </div>
  {% endif %}
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(function () {
    $('[data-toggle="popover"]').popover(
      {
          'html': true,  // Treat the content as html.
      }
    ).on('click', function (e) {
      // Close other open popovers when clicking one
      $('[data-toggle="popover"]').not(this).popover('hide');
     });
  })

</script>
<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>
{% endblock %}
